# fastapi
fastapi[all]
# validation
pydantic
pydantic-settings
# orm
sqlalchemy
# migrations
alembic
greenlet
#authentication
passlib
bcrypt==4.0.1
python-jose
# driver
asyncpg
# development
pytest
pytest-cov
pytest-benchmark
pylint
